body {
  margin: 0 auto;
  }

header{
  background-color: #87509c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

.logo{
  margin: 58px 0px 0px 0px;
  }

.nav_menu{
  margin: 72px 0px 0px 0px;
  float: right;
  height: 13px;
  }

.nav_menu a{
  font-family: 'Titillium_Web_Regular';
  font-size: 16px;
  color: #FFF;
  line-height: 18px;
  text-decoration: none;
  padding: 5px 17px 6px 17px;
  text-transform: uppercase;
  border-radius: 3px;
  }

.nav_menu a:hover{
  background: #643a79;
  transition: 0.25s;
  }

.content{
  padding-bottom: 145px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #87509c;
  }

.wrap{
  width: 1040px;
  margin: 0 auto;
  }

.work_with_us{
  padding-top: 135px;
  text-align: center;
  }

.work_with_us p{
  margin: 0px;
  font-family: 'Titillium_Web_Bold';
  font-size: 42px;
  color: #FFF;
  margin-bottom: 82px;
  line-height: 49px;
  }

.work_with_us a{
  font-family: 'Titillium_Web_SemiBold';
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  background: #eb7d4b;
  padding: 20px 70px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgb(0,0,1)
  }

.work_with_us a:hover{
  background: #ff5000;
  transition: 0.25s;
  }

.service_we_provide{
  background: #17c2a4;
  padding-bottom: 128px;
  }

.service_we_provide h1{
  margin: 0px;
  padding: 50px 0px 20px 0px;
  text-align: center;
  font-family: 'Titillium_Web_Bold';
  color: #FFF;
  font-size: 40px;
  letter-spacing: 3px;
  }

.line{
  display: block;
  margin: 0 auto;
  }

.service_we_provide_text h2{
  font-family: 'TitilliumWeb-Light';
  font-size: 18px;
  color: #FFF;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  margin: 20px 0px 80px 0px;
  }

.services_column{
  text-align: center;
  margin: 0 25px;
  }

.services_img_block{
  height: 159px;
  text-align: center;
  }

.services_column h1{
  font-family: 'Titillium_Web_Bold';
  color: #FFF;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  }

.services_column h2{
  font-family: 'TitilliumWeb-Light';
  color: #FFF;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
  }

#services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

#services .services_column:nth-of-type(1) {}
#services .services_column:nth-of-type(2) {}
#services .services_column:nth-of-type(3) {}
#services .services_column:nth-of-type(4)
  {margin-right: 0;}

.meet_our_btfl_team{
  background: #e7f1f8;
  }

.meet_our_btfl_teamimg_block{
  text-align: center;
  }

.meet_our_btfl_teamcolumn{
  margin: 0 auto;
  }

.meet_our_btfl_team h1{
  font-size: 41px;
  font-family: 'Titillium_Web_Bold';
  color: #3c4761;
  margin: 0px;
  padding: 119px 0px 15px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 31px;
  }

.meet_our_btfl_team h2{
  font-size: 16px;
  font-family: 'Titillium_Web_Regular';
  color: rgba(60, 71, 97, 0.75);
  margin: 0px;
  text-align: center;
  padding: 25px 0px 78px 0px;
  letter-spacing: 2px;
  line-height: 18px;
  }

.meet_our_btfl_team h3{
  font-size: 16px;
  font-family: 'TitilliumWeb-Light';
  color: rgba(60, 71, 97, 0.75);
  margin: 26px 0px 31px 0px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 24px;
  }

.sprite{
  text-align: center;
  margin: 0 auto;
  }

.sprite a{
  text-align: center;
  margin: 0 6px;
  }

#meet_our_btfl_teamservices{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

#meet_our_btfl_teamservices .meet_our_btfl_teamcolumn:nth-of-type(1) {}
#meet_our_btfl_teamservices .meet_our_btfl_teamcolumn:nth-of-type(2) {}
#meet_our_btfl_teamservices .meet_our_btfl_teamcolumn:nth-of-type(3) {}
#meet_our_btfl_teamservices .meet_our_btfl_teamcolumn:nth-of-type(4)
  {margin-right: 0;}

.meet_our_btfl_teamcolumn h1{
  font-size: 24px;
  font-family: 'Titillium_Web_Bold';
  color: #3c4761;
  margin: 41px 0px 15px 0px;
  text-align: center;
  padding: 0px;
  letter-spacing: 2px;
  line-height: 18px;
  }

.meet_our_btfl_teamcolumn h2{
  font-size: 16px;
  font-family: 'Titillium_Web_Regular';
  color: #30bae7;
  margin: 0px;
  text-align: center;
  padding: 0px;
  letter-spacing: 2px;
  line-height: 18px;
  }

.service_we_provide, .meet_our_btfl_team{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
